[submodule "tests/acquire-video-runtime"]
	path = tests/acquire-video-runtime
	url = git@github.com:aliddell/acquire-video-runtime.git
	branch = main
[submodule "tests/acquire-driver-common"]
	path = tests/acquire-driver-common
	url = git@github.com:aliddell/acquire-driver-common.git
	branch = main
[submodule "src/acquire-core-libs"]
	path = src/acquire-core-libs
	url = git@github.com:aliddell/acquire-core-libs.git
	branch = main
